/* You can add global styles to this file, and also import other style files */

@import "./assets/scss/bootstrap-reboot.css";
@import "./assets/scss/material-snackbar.scss";
@import "./assets/scss/bootstrap-buttons.scss";

body {
    background: #f0f0f1;
    color: #3c434a;
    font-size: 13px;
    font-family: 'Vazirmatn', sans-serif;
}