body {
    color: #212529;
    background-color: #fff;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    color: #ff0000;
}

a:hover {
    color: #0000ff;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
    color: inherit;
}

hr {
    color: inherit;
    background-color: currentColor;
}

mark {
    background-color: #fcf8e3;
}

pre code {
    color: inherit;
}

code {
    color: #d63384;
}

a>code {
    color: inherit;
}

kbd {
    color: #fff;
    background-color: #212529;
}

caption {
    color: #6c757d;
}

thead,
tbody,
tfoot,
tr,
td,
th {
    border-color: inherit;
}