h6,
h5,
h4,
h3,
h2,
h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul,
dl {
  padding: 0;
  margin: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
}

hr {
  margin: 1rem 0;
}

figure {
  margin: 0 0 1rem;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

address {
  margin-bottom: 1rem;
}

dd {
  margin-bottom: 0.5rem;
  margin-right: 0;
}

blockquote {
  margin: 0 0 1rem;
}

mark {
  padding: 0.2em;
}

fieldset {
  padding: 0;
  margin: 0;
}

legend {
  padding: 0;
  margin-bottom: 0.5rem;
}

kbd {
  padding: 0.2rem 0.4rem;
}

kbd kbd {
  padding: 0;
}

::-moz-focus-inner {
  padding: 0;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}