<div id="wpwrap">

    <ng-wp-menu [menu]="menuModelLtr" [theme]="themeName" [direction]="menuDirection" (onMenuToggle)="onMenuToggle()"></ng-wp-menu>
    <div id="wpcontent">

        
        <div id="wpbody" role="main">
            
            <div id="wpbody-content">
                <div id="wpadminbar">
                    <ul>
                        <li>
                            <a routerLink="/home" routerLinkActive="active">Home</a>
                        </li>
                        <li>
                            <a routerLink="/comments" routerLinkActive="active">Toggler Button</a>
                        </li>
                        <li>
                            <a routerLink="/icons" routerLinkActive="active">Dashicons</a>
                        </li>
                    </ul>
                </div>
                <hr>
                <button type="button" (click)="toggleMobileMenu()" class="mobile-menu-toggler">
                    <span class="dashicons dashicons-menu-alt"></span>
                </button>
                <hr>
                <router-outlet></router-outlet>
                <hr>
                <section>
                    <h6>Scalable Component:</h6>
                    <p>by changing the font-size of div#wpwrap element</p>
                   <input class="scalable-input" (change)="changeScale(input.value)" #input type="number" value="14"><strong>px</strong>
                </section>
                <hr>
                <section>
                    <h6>change Theme:</h6>
                    <p>default | blue | coffee | ectoplasm | light | midnight | modern | ocean | sunrise</p>
                    <div class="btn-container">
                        <button class="btn btn-sm btn-defalut" type="button" (click)="changeTheme('default')">default theme</button>
                        <button class="btn btn-sm btn-blue" type="button" (click)="changeTheme('blue')">blue theme</button>
                        <button class="btn btn-sm btn-coffee" type="button" (click)="changeTheme('coffee')">coffee theme</button>
                        <button class="btn btn-sm btn-ectoplasm" type="button" (click)="changeTheme('ectoplasm')">ectoplasm theme</button>
                        <button class="btn btn-sm btn-light" type="button" (click)="changeTheme('light')">light theme</button>
                        <button class="btn btn-sm btn-midnight" type="button" (click)="changeTheme('midnight')">midnight theme</button>
                        <button class="btn btn-sm btn-modern" type="button" (click)="changeTheme('modern')">modern theme</button>
                        <button class="btn btn-sm btn-ocean" type="button" (click)="changeTheme('ocean')">ocean theme</button>
                        <button class="btn btn-sm btn-sunrise" type="button" (click)="changeTheme('sunrise')">sunrise theme</button>
                    </div>
                </section>
                <hr>
                <section>
                    <h6>change Direction:</h6>
                    <p>ltr | rtl</p>
                    <div class="btn-container">
                        <button class="btn btn-sm btn-outline-defalut" type="button" (click)="changeDirection('ltr')">ltr direction</button>
                        <button class="btn btn-sm btn-outline-defalut" type="button" (click)="changeDirection('rtl')">rtl direction</button>
                    </div>
                </section>
             


            </div>

        </div>

    </div>

</div>